body {
  background: linear-gradient(to right, rgb(21, 106, 113), rgb(148, 234, 161));
  position: relative;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  position: absolute;
  width: 63rem;
  height: 34rem;
  text-align: center;
  top: 5rem;
  left: 14rem;
  box-shadow: 10px 10px 10px 10px #0000007a;
  background-color: white;
  cursor: pointer;
}

td {
  border: 1px solid black;
}

td:hover {
  background-color: bisque;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 0, 0.135);
}

thead {
  height: 4rem;
  border: 2px solid;
  background: bisque;
  font-size: 24px;
  font-weight: 700;
}

.search-box {
  position: absolute;
  top: 74%;
  left: 40%;
}

input {
  width: 19rem;
  height: 2rem;
  text-align: center;
  border-radius: 16px;
  border: navajowhite;
}