body {
  background: linear-gradient(to left, #b6fbff,
      #83a4d4);

  /* position: relative; */
}

table {
  border: 1px solid #87CEEB;
  border-collapse: collapse;
  position: absolute;
  width: 100rem;
  height: 35rem;
  text-align: center;
  font-size: 25px;
  top: 11rem;
  left: 24rem;
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px #00000069;
}

th {
  border: 1px solid #87CEEB;
  background-color: #87CEEB;
  height: 4rem;
  border: 1px solid white;
}

td {
  border: 1px solid #87CEEB;
}

tr:hover {
  /* background-color: #87CEEB;
  color: white; */
}
tr:nth-child(even){
  background-color:#87CEEB ;
}

tbody {
  background-color: whitesmoke;
}

input {
  position: absolute;
  width: 27rem;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
  border: none;
  left: 44%;
  font-size: large;
  font-weight: 600;
}