body {
  background: linear-gradient(to left, #b6fbff,
      #83a4d4);

  /* position: relative; */
}

table {
  border: 1px solid #87CEEB;
  border-collapse: collapse;
  position: absolute;
  width: 100rem;
  height: 35rem;
  text-align: center;
  font-size: 25px;
  top: 11rem;
  left: 24rem;
  cursor: pointer;
}

th {
  border: 1px solid #87CEEB;
  background-color: #87CEEB;
  height: 4rem;
  border: 1px solid white;
}

td {
  border: 1px solid #87CEEB;
}

tr:hover {
  background-color: whitesmoke;
}